h4 {
  font-size: 24px;
  display: flex;
  gap: 10px;
}
p {
  transition: all 0.5s;
}

strong {
  font-weight: 600;
  color: var(--text-color-green);
}

div.petCard {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;

  transition: all 0.5s;
  box-shadow: black 0px 10px 15px;
  justify-content: space-between;
  padding: 20px 20px;
  min-width: 300px;
  height: 200px;
  transition: all 0.5s;
  background: rgb(33, 33, 33);
  background: radial-gradient(
    circle,
    rgba(33, 33, 33, 1) 0%,
    rgba(15, 14, 14, 1) 100%
  );
}
div.petCard:hover {
  height: 230px;
}

div.petCard:hover {
  transition: all 0.5s;
  background: rgb(9, 4, 34);
  background: radial-gradient(
    circle,
    rgb(94, 64, 141) 0%,
    rgba(15, 14, 14, 1) 100%
  );
  border-style: none;
}
div.petCard:hover .hoverPetCardInfo {
  opacity: 1;
  height: fit-content;

  display: flex;
  gap: 5px;
  flex-direction: column;

  visibility: visible;

  align-items: center;
  justify-content: center;
}

div.hoverPetCardInfo {
  transition: all 0.5s;
  margin: 10px 0 10px 0;
  height: 0;
  gap: 0;
  transition: all 0.15s;
  opacity: 0;
  visibility: collapse;
}
div.hoverPetCardInfo p {
  color: #99cf97;
  font-size: 0px;
  transition: all 0.5s;
}
div.petCard:hover p {
  transition: all 0.5s;
  font-size: 16px;
}

@media (min-width: 700px) {
  div.petCard {
    width: 300px;
  }
}
