/*banner*/
.test {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.test a {
  pointer-events: none;
  text-decoration: none;
  color: black;
  font-family: var(--secondaryFontStyle);
  transition: all 0.5s;
  position: absolute;
  align-items: center;
  font-size: 30px;
  opacity: 0;
  z-index: 0;
}

.banner {
  display: grid;
  gap: 1rem;
  width: 100%;
  margin-bottom: 30px;
}

.banner div:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/3;
}

.banner div:nth-child(3) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.banner div:nth-child(4) {
  visibility: hidden;
  display: none;
}
.banner img,
.banner div {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 600px) {
  .banner {
    grid-template-columns: calc(50% - 0.75rem);
    column-gap: 1.5rem;
    height: 500px;
  }

  .banner div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 500px;
  }
  .banner div:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 240px;
  }
  .banner div:nth-child(2) {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 240px;
  }
  .banner div:nth-child(4) {
    grid-column: 3/4;
    grid-row: 1/3;
    height: 500px;

    visibility: visible;
    display: flex;
    align-items: center;
  }
}
/* Form */

#sectionForm h2 {
  font-size: 20px;
  color: #3b892a;
}
#sectionForm p {
  font-size: 16px;
}

#sectionForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

form {
  padding: 20px 0;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}
.Subtitle {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 20px;
}

fieldset {
  padding: 30px 0;
  border: 1px solid #111010;
  box-shadow: black 0px 10px 15px;
}
label {
  color: var(--text-color-green);
}
input {
  font-size: 16px;
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #585757;
  color: var(--text-color-green);
  padding: 4px 2px 4px 8px;
  border-radius: 8px;
}
select {
  background-color: #585757;
  border-radius: 4px;
  padding: 4px;
  color: white;

  font-family: var(--primaryFontStyle);
  transition: all 1s;
}
input:focus,
select:focus {
  background-color: #1e1d1d;
}
button.submitButton {
  background-color: #585757;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border: none;
  transition: all 0.5s;
  border: 1px solid;

  margin-top: 10px;
}
button.submitButton a {
  color: var(--text-light-gray);
  text-decoration: none;
  font-family: var(--secondaryFontStyle);
  font-size: 14px;
  transition: all 0.5s;
}
button.submitButton:hover a {
  color: #afcc2f;
  transition: all 0.5s;
}
button.submitButton:hover {
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.06);
  border: 1px solid #afcc2f;
  color: #afcc2f;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
}
.inputBox {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 720px) {
  form {
    flex-direction: row;
    width: 70vw;
    align-items: center;
    width: 700px;
    flex-wrap: wrap;
    justify-content: center;
  }

  fieldset {
    width: 340px;
    min-height: 330px;
  }
  #sectionForm h2 {
    font-size: 24px;
  }
  button {
    width: 150px;
  }
}
