* {
  box-sizing: border-box;
}

:root {
  /*cores*/
  --amarelo: #ffc756;
  --laranja: #f66139;
  --lilas: #7f8ffe;
  --verde: #56b78c;
  --cinza-claro: #d9d9d9;
  --cinza-escuro: #959595;

  /*fontes*/
  --primaryFontStyle: 'Preahvihear', sans-serif;
  --secondaryFontStyle: 'Cherry Bomb One', cursive;
}

body {
  font-family: var(--primaryFontStyle);
  /* height: 100vh; */
  background-color: #212121;
}

h2,
h3 {
  color: #56b78c;
  text-transform: uppercase;
  font-family: var(--secondaryFontStyle);
}

/* Main */

.principal {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  padding: 0 1.5rem;
}
h1 {
  color: #56b78c;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
span {
  display: flex;
  align-items: center;
  gap: 5px;
  background: rgb(181, 174, 174);
  background: linear-gradient(
    90deg,
    rgba(181, 174, 174, 1) 0%,
    rgba(121, 122, 164, 1) 47%,
    rgba(150, 54, 54, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-weight: 700;
  font-family: var(--secondaryFontStyle);
}
p {
  text-align: center;
  color: #56b78c;
}

img {
  opacity: 1;
  transition: 0.5s;
}

img:hover {
  opacity: 0.7;
}

/* Header */
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
}

.menu {
  background: rgb(33, 33, 33);
  background: radial-gradient(
    circle,
    rgba(33, 33, 33, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: var(--secondaryFontStyle);
  font-size: 16px;
  height: 200px;
  padding: 0 1.5rem;
  white-space: nowrap;
}

.menu__titulo {
  background-image: url('../assets/logo-petshop.png');
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px 100px;
  width: 100%;
  height: 120px;
  cursor: pointer;
}

.navItem a {
  transition: 0.5s;
  color: white;
  text-decoration: none;
}

.navItem a:hover {
  color: var(--amarelo);
}

.navItem:nth-child(4)::before {
  padding-right: 8px;
  content: url('../img/icone-gps.png');
  cursor: pointer;
  transition: 3.3s;
}

.navItem:nth-child(4)::after {
  padding-left: 8px;
  content: url('../img/icone-seta.png');
  cursor: pointer;
  transition: 3.3s;
}

.navItem:nth-child(4)::after:hover,
.navItem:nth-child(4)::before:hover {
  background-color: var(--amarelo);
}
@media (min-width: 400px) {
  .menu {
    column-gap: 55px;
  }
}
@media (min-width: 720px) {
  .menu {
    column-gap: 35px;
  }
}

@media (min-width: 1440px) {
  .menu {
    column-gap: 105px;
    flex-wrap: nowrap;
  }

  .NavItem:nth-child(1) {
    order: 1;
  }

  .NavItem:nth-child(2) {
    order: 3;
  }

  .NavItem:nth-child(3) {
    order: 4;
  }

  .NavItem:nth-child(4) {
    order: 5;
  }

  .NavItem:nth-child(5) {
    order: 2;
  }
}

/*banner*/
.banner {
  display: grid;
  gap: 1rem;
  width: 100%;
}

.banner img:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/3;
}

.banner img:nth-child(3) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.banner img:nth-child(4) {
  visibility: hidden;
  display: none;
}

.banner img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 600px) {
  .banner {
    grid-template-columns: calc(50% - 0.75rem);
    column-gap: 1.5rem;
    height: 500px;
  }

  .banner img:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 500px;
  }
  .banner img:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 240px;
  }
  .banner img:nth-child(2) {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 240px;
  }
  .banner img:nth-child(4) {
    grid-column: 3/4;
    grid-row: 1/3;
    height: 500px;

    visibility: visible;
    display: block;
  }
}
/* Form */

#sectionForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  padding: 20px 0;
  margin-top: 20px;
  border: 1px solid #111010;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  box-shadow: black 0px 10px 15px;
}
label {
  color: #56b78c;
}
input {
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #585757;
  color: #56b78c;
  padding: 2px 2px;
  border-radius: 8px;
}
select {
  background-color: #585757;
  border-radius: 4px;
  padding: 4px;
  color: white;

  font-family: var(--primaryFontStyle);
  transition: all 1s;
}
input:focus,
select:focus {
  background-color: #1e1d1d;
}
button.submitButton {
  background-color: #585757;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border: none;
  transition: all 0.5s;
  border: 1px solid;
  font-family: var(--secondaryFontStyle);
  font-size: 14px;
  margin-top: 10px;
}
button.submitButton:hover {
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.06);
  border: 1px solid #56b78c;
  color: #56b78c;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
}
.inputBox {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputBox label {
}

.inputBox input[type='text'].input {
}

.inputBox input[type='text'].input:focus {
}

@media (min-width: 720px) {
  form {
    flex-direction: row;
    width: 70vw;
  }
}
/* Footer */
.rodape {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rodape__logo {
  align-self: end;
}

.rodape {
  color: var(--cinza-claro);
  background-color: black;
  margin: 1rem 0;
  font-size: 14px;
  font-family: var(--primaryFontStyle);
  padding: 1rem 1.5rem;
  line-height: 2;
  white-space: nowrap;
}

.rodape__lista {
  width: 135px;
}

.rodape__titulo {
  font-size: 18px;
  font-family: var(--secondaryFontStyle);
}

.rodape__logo {
  font-size: 12px;
}

.rodape__logo h4 {
  background-image: url('../assets/logo-petshop.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
}

@media (min-width: 720px) {
  /* Header */
  .menu {
    height: 217px;
  }

  .menu__titulo {
    width: auto;
    padding: 40px 55px;
  }

  .cabecalho__seu-local::before {
    padding-right: 8px;
  }

  .cabecalho__seu-local::after {
    padding-left: 15px;
  }

  .menu__pesquisar {
    width: 312px;
  }

  .principal {
    padding: 0 2.5rem;
  }

  .rodape {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 1440px) {
  /* Header */
  .menu {
    height: 100px;
    font-size: 20px;
    padding: 0 7.5rem;
  }

  .menu__titulo {
    background-image: url('../img/logo-branco-menor.png');
    padding: 43px 55px;
  }

  .menu__pesquisar {
    width: 384px;
    margin-bottom: 0;
  }

  .navInput {
    padding-left: 15px;
  }

  .rodape {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }
}
