* {
  box-sizing: border-box;
}

:root {
  --nav-hover-color: #aeed27;
  --text-color-green: #56b78c;
  --text-color-dark-green: #1d1b1b;
  --text-light-gray: #d9d9d9;

  /*fontes*/
  --primaryFontStyle: 'Preahvihear', sans-serif;
  --secondaryFontStyle: 'Cherry Bomb One', cursive;
}

body {
  font-family: var(--primaryFontStyle);
  /* height: 100vh; */
  background-color: #212121;
}

h2,
h4,
h3 {
  color: var(--text-color-green);
  text-transform: uppercase;
  font-family: var(--secondaryFontStyle);
}
#clientesSection,
#shopSection {
  padding: 60px 0 60px 0;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-around;
  gap: 15px;
}

/* Main */

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
  padding: 0 1.5rem;
}
h1 {
  margin: 20px 0;
  font-size: 16px;
  color: #217c53;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
}

span {
  display: flex;
  align-items: center;
  gap: 5px;
  background: rgb(83, 85, 182);
  background: linear-gradient(
    90deg,
    rgba(83, 85, 182, 1) 0%,
    rgba(191, 24, 24, 1) 83%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-weight: 700;
  font-family: var(--secondaryFontStyle);
}
p {
  font-size: 14px;
  text-align: center;
  color: #579378;
}

img {
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
  transition: 0.5s;
}

.test:hover img {
  opacity: 0.7;
}

.test:hover a {
  pointer-events: all;
  transition: all 0.5s;
  z-index: 2;
  font-size: 30px;
  opacity: initial;
}

/* Header */
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
}

.menu {
  background: rgb(33, 33, 33);
  background: radial-gradient(
    circle,
    rgba(33, 33, 33, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: var(--secondaryFontStyle);
  font-size: 16px;
  height: 200px;
  padding: 0 1.5rem;
  white-space: nowrap;
}

.menu__titulo {
  background-image: url('../assets/logo-petshop.png');
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px 100px;
  width: 100%;
  height: 120px;
  cursor: pointer;
}

.navItem a {
  transition: 0.5s;
  color: white;
  text-decoration: none;
}

.navItem a:hover {
  color: var(--nav-hover-color);
}

.navItem:nth-child(4)::before {
  padding-right: 8px;
  content: url('../img/icone-gps.png');
  cursor: pointer;
  transition: 3.3s;
}

.navItem:nth-child(4)::after {
  padding-left: 8px;
  content: url('../img/icone-seta.png');
  cursor: pointer;
  transition: 3.3s;
}

.navItem:nth-child(4)::after:hover,
.navItem:nth-child(4)::before:hover {
  background-color: var(--amarelo);
}
@media (min-width: 400px) {
  .menu {
    column-gap: 55px;
  }
}
@media (min-width: 720px) {
  .menu {
    column-gap: 35px;
  }
  .navLinks {
    font-size: 20px;
  }

  h1 {
    font-size: 20px;
  }
  footer p {
    font-size: 18px;
    width: 400px;
    line-height: 20px;
  }
}

@media (min-width: 1440px) {
  .menu {
    column-gap: 105px;
    flex-wrap: nowrap;
  }

  .NavItem:nth-child(1) {
    order: 1;
  }

  .NavItem:nth-child(2) {
    order: 3;
  }

  .NavItem:nth-child(3) {
    order: 4;
  }

  .NavItem:nth-child(4) {
    order: 5;
  }

  .NavItem:nth-child(5) {
    order: 2;
  }
}

span.welcome {
  display: flex;
  align-items: center;
  gap: 5px;
  background: rgb(150, 69, 69);
  background: linear-gradient(
    90deg,
    rgba(150, 69, 69, 1) 38%,
    rgba(8, 104, 126, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-weight: 700;
  font-family: var(--secondaryFontStyle);
}

/* Footer */
.rodape {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rodape__logo {
  align-self: end;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  width: 100%;
}

.rodape {
  color: var(--text-light-gray);
  background-color: black;
  margin: 1rem 0 0 0;
  font-size: 14px;
  font-family: var(--primaryFontStyle);
  padding: 1rem 1.5rem;
  line-height: 2;
  white-space: nowrap;
}

.rodape__lista {
  width: 135px;
}

.rodape__titulo {
  font-size: 18px;
  font-family: var(--secondaryFontStyle);
}

.rodape__logo {
  font-size: 12px;
}

.rodape__logo img {
  align-self: center;
}

@media (min-width: 720px) {
  /* Header */
  .menu {
    height: 217px;
  }

  .menu__titulo {
    width: auto;
    padding: 40px 55px;
  }

  .cabecalho__seu-local::before {
    padding-right: 8px;
  }

  .cabecalho__seu-local::after {
    padding-left: 15px;
  }

  .menu__pesquisar {
    width: 312px;
  }

  .main {
    padding: 0 2.5rem;
  }

  .rodape {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .rodape__logo {
    width: auto;
  }
}

@media (min-width: 1440px) {
  /* Header */
  .menu {
    height: 100px;
    font-size: 20px;
    padding: 0 7.5rem;
  }

  .menu__titulo {
    background-image: url('../img/logo-branco-menor.png');
    padding: 43px 55px;
  }

  .menu__pesquisar {
    width: 384px;
    margin-bottom: 0;
  }

  .navInput {
    padding-left: 15px;
  }

  .rodape {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }
}
